@using HotelSurvey.Models
@model IEnumerable<Result>
<a class="btn btn-primary mt-5" style="margin: 10px" asp-controller="Result" asp-action="Create">Create new result</a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nummer</th>
            <th>Edit result</th>
            <th>Delete result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resultVM in Model)
        {
        <tr>
            <td>@resultVM.ResultId</td>
            <td>@resultVM.ResultText</td>
            <td>@resultVM.ResultNummer</td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Result" asp-action="Update" asp-route-id="@resultVM.ResultId">Edit</a></td>
            <td><a class="btn btn-danger" asp-area="" asp-controller="Result" asp-action="Delete" asp-route-id="@resultVM.ResultId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>