@model IEnumerable<Survey>
<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Survey" asp-action="Create">Create new survey</a>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Question name</th>
            <th>Customer</th>
            <th>Edit question</th>
            <th>Delete question</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Survey survey in Model)
        {
            <tr>
                <td>@survey.SurveyId</td>
                <td>@survey.Name</td>
                <td>@survey.Question.Name</td>
                <td>@await Component.InvokeAsync("Result")</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Survey" asp-action="Update" asp-route-id="@survey.SurveyId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Survey" asp-action="Delete" asp-route-id="@survey.SurveyId" asp-route-questionid="@ViewBag.QuestionId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>